
 <!-- Masthead-->

 <!--style = 'background: url(imageContent), linear-gradient(to bottom, rgba(192, 151, 141, 0.1) 0%, rgba(192, 151, 141, 0.3) 75%, #c0978d 100%);'-->
 <header class="recipeHead" >
  <!-- <a href="#" class="img">
  <img [src]="imageContent" alt="slika recepta" style = 'width: 100%; height: auto;'> -->
  <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">{{recipe.title}}</h1>
          <h2 class="text-beige mx-auto mt-2 mb-5"></h2>
          <!-- <a class="btn bg-greyish text-beige js-scroll-trigger" href="#about">Pronađi recept</a> -->
      </div>
  </div>
<!-- </a> -->
</header>


<!--      Ovde u div ubacujemo glavni deo    -->
<section class="about-section text-center" id="about" style = "padding-top: 2rem; ">
<div class="container" style = "overflow: hidden;">

<div class = "recipeAuthor">
  <img src = "../assets/img/pin.png" style = "float: left; padding-bottom: 7px;">
  <img [src] = "authorUserImageContent" alt = "slika autora">
   <img src = "../assets/img/pin.png" style = "float: right; padding-bottom: 7px;">
   <label [routerLink]="['/user', user._id]">{{ user.username }}</label>
</div>

<div class = "recipeIngredients">
  <h4>&bull; Sastojci &bull;</h4>
  <ul *ngFor = "let ingredient of this.recipe.ingredients">
    <li>{{ ingredient }}</li>
 </ul>
</div>


<div class = "recipePictureAndDetails">
  <img [src]="imageContent" alt="slika recepta">
  <!--
  <div class = "recipeDetails" style = "overflow: hidden; text-align: left;">
      <img src = "assets/img/clock.png" style = "width: 5%; height: 5%;"></img>
      <label style = "padding-right: 25%;">30 minuta</label>

    <img src = "assets/img/weights.png" style = "width: 10%; height: 10%;"></img>
    <label style = "padding-right: 30%;">4 </label>


    <img src = "assets/img/star.png" style = "width: 5%; height: 5%;"></img>
    <label style = "text-align: right;">5 </label>

  </div>
-->

<div class="container recipeDetails">
   <div class="row">
     <div class="col-sm my-auto">
       <img src = "../assets/img/clock.png" style = "width: 15%; height: auto;">
       <label style = "margin-left: 10px; ">{{ recipe.preptime }} minuta</label>
     </div>
     <div class="col-sm my-auto">
       <img src = "../assets/img/weights.png" style = "width: 20%; height: auto;">
       <label style = "margin-left: 10px; "> {{ recipe.difficulty }} </label>
     </div>
     <div class="col-sm my-auto">
       <img src = "../assets/img/star.png" style = "width: 15%; height: auto;">
       <label style = "margin-left: 10px; "> {{ recipe.scores['scoreAvg']}} </label>
     </div>
   </div>
 </div>

</div>

<div class = "recipeCategories">
  <h4>&bull; Kategorije &bull;</h4>
  <ul *ngFor = "let category of recipe.category">
    <li>#{{ category }}</li>
 </ul>
</div>

<div class = "recipeInstructions">
  <h2>&bull; Priprema &bull;</h2>
  <ul *ngFor = "let instruction of recipe.instructions">
    <li>{{ instruction }}</li>
 </ul>

 <label>{{ recipe.serving }}. Količina je namenjena za {{ recipe.units }} osobe.</label>
</div>

<!-- RATE SECTION -->

<div class = "rateRecipeHeading">
  <h2>Ocenite recept:</h2>
</div>

<div class="rate" style = "margin-left: 15px;">
   <input type="radio" id="star5" name="rate" value="5" (click) = "addScore(5)"/>
   <label for="star5" title="text">5 stars</label>
   <input type="radio" id="star4" name="rate" value="4" (click) = "addScore(4)"/>
   <label for="star4" title="text">4 stars</label>
   <input type="radio" id="star3" name="rate" value="3" (click) = "addScore(3)"/>
   <label for="star3" title="text">3 stars</label>
   <input type="radio" id="star2" name="rate" value="2" (click) = "addScore(2)"/>
   <label for="star2" title="text">2 stars</label>
   <input type="radio" id="star1" name="rate" value="1" (click) = "addScore(1)"/>
   <label for="star1" title="text">1 star</label>
</div>

<div>
  <div class = "submit">
    <input type="submit" name="submit" class="btn btn-md bg-beige" style="color: #972426; font-weight: 700; margin-left: 30px;" value="Dodaj u omiljene" (click) = "addToFavorites()">
  </div>
</div>

<!-- COMMENT SECTION -->

 <!-- comments container -->
<form id="" class="form" action="" method="put" [formGroup]="commentForm" (ngSubmit)="submitForm(commentForm.value)">
  <div class="comment_block">

     <!--
       Comments are structured in the following way:

       {ul} defines a new comment (singular)
       {li} defines a new reply to the comment {ul}

       example:

       <ul>
         <comment>

         </comment

           <li>
             <reply>

             </reply>
           </li>

           <li>
             <reply>

             </reply>
           </li>

           <li>
             <reply>

             </reply>
           </li>
       </ul>

      -->

      <!-- used by #{user} to create a new comment -->
      <div class="create_new_comment">

       <!-- current #{user} avatar -->
        <div class="user_avatar" *ngIf="loginService.getLoggedIn()">
          <img [src] = "loginUserImageContent" alt = "slika ulogovanog korisnika">
        </div><!-- the input field -->
        <div class="user_avatar" *ngIf="!loginService.getLoggedIn()">
          <img src = "../assets/img/profilePicture.jpg" alt = "slika profila">
        </div><!-- the input field -->
        <div class="input_comment">
          <input type="text" placeholder="Ostavite svoj utisak..." formControlName = 'comment' id = 'leaveAComment'>
        </div>
        <div class = "submit">
          <input type="submit" name="submit" class="btn btn-md bg-beige" style="color: #972426; font-weight: 700;" value="Objavi">
        </div>
      </div>


      <!-- new comment -->
      <ng-container *ngFor = 'let comm of recipe.comments; let i = index'>
      <div class="new_comment" >

       <!-- build comment -->
        <ul class="user_comment">

          <!-- current #{user} avatar -->
          <div class="user_avatar">
            <img [src] = "usersCommentingImageContent[i]" alt = "slika korisnika">
          </div><!-- the comment body --><div class="comment_body">
             <p>{{comments[i]}}</p>
          </div>

          <!-- comments toolbar -->
          <div class="comment_toolbar">
            <!-- inc. date and time -->
            <div class="comment_details">
              <ul>
                <li><span class="input-group-addon" style="padding: 5px; padding-right: 7px;"><i class="fa fa-user fa"
                  aria-hidden="true"></i></span> <span class="user" [routerLink]="['/user', usersCommenting[i]._id]">{{usersCommenting[i].username}}</span></li>
              </ul>
            </div><!-- inc. share/reply and love -->
            <div class="comment_tools">
            </div>

          </div>

        </ul>

      </div>
    </ng-container>

 <!-- new comment -->


     </div>
  </form>

</div>
</section>
