body, html {
    height: 100%;
 }

.profile-edit-btn {
    color: #972426 !important;
}
div#about[_ngcontent-nxy-c67] {
    min-height: 120%;
    height:1400px;
}
.alert {
    padding-top: 35px;
}
div#about {
    min-height: 120%;
    height:1400px;
}
#updateDiv {
    margin-top: 2px;
    background-color: beige;
    width: 85vw;
    height: 100vh;
    position: absolute;
    left: 8%;
    top: 32%;
    color: #972426;
    font-size: 0.9em;
    font-weight: 650;
}
span.input-group-addon {
    padding-right: 4px;
    padding-top: 5px;
    margin-right: 2px;
}
#updateRecipeDiv{
    margin-top: 2px;
background-color:beige;
width: 85vw;
height: 170vh;
position:absolute;
left:8%;
top:32%;

}
form.ng-untouched.ng-pristine.ng-valid {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

input#firstName{
    width:250px;
}
input#lastName{
    width:250px;
}
input#username{
    width:250px;
}
input#email{
    width:250px;
}

.form-horizontal {
    padding: 0;
    margin-top: 0px;

}