<section class="projects-section bg-bluish" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/homeBackground8.jpg"
                    alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="text-beige registration-link" (click)="goToRegistration()">Registrujte se</h4>
                    <p class="text-beige text-bold mb-0">Postanite deo online zajednice kuvara. Podelite sa nama svoje
                        recepte, utiske i komentare.</p>
                </div>
            </div>
        </div>
    </div>
</section>