<section class="about-section text-center text-white" id="about" style = "background: linear-gradient(to top,rgba(192, 151, 141, 0.1) 0%, rgba(192, 151, 141, 0.3) 50%, #972426 100%), url('assets/img/dish05.jpg');">

    <div class="container text-red" style="font-weight: bold;">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post" [formGroup]="LogInForm" (ngSubmit)="submitLogInForm(LogInForm.value)">
                        <h3 class="text-center" style = "font-weight: bold; letter-spacing: 3px; font-size: 25px; margin-bottom: 80px;">PRIJAVI SE</h3>
                        <div class="form-group">
                            <label for="username" class="">Korisničko ime:</label><br>
                            <div class="cols-sm-10">
                              <div class="input-group">
                                <span class="input-group-addon" style="padding: 10px"><i class="fa fa-users fa"
                                aria-hidden="true"></i></span>
                                <input type="text" name="username" id="username" class="form-control"  formControlName="username" >
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Šifra:</label><br>
                            <div class="cols-sm-10">
                              <div class="input-group">
                                <span class="input-group-addon" style="padding: 10px"><i class="fa fa-lock fa-lg"
                                  aria-hidden="true"></i></span>
                                <input type="password" name="password" id="password" class="form-control"  formControlName="password" style = "background: none;
                                border: none;
                                border-bottom: solid 2px #972426; font-size: 0.8em;
                                font-weight: 600;
                                letter-spacing: 1px;">
                              </div>
                            </div>
                        </div>
                        <div class="form-group" style = "margin-top: 60px;">
                            <input type="submit" name="submit" class="btn btn-md bg-red" style="color: beige;" value="Prijava">
                        </div>

                    </form>
                </div>
            </div>
        </div>

     </div>
    </section>



